In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import csv
import time
import logging
from typing import List, Dict, Optional, Tuple
from urllib.parse import urljoin, urlparse, parse_qs
import re
from datetime import datetime, timedelta

In [1]:
import requests
import pandas as pd
from datetime import datetime



url = "https://www.justetf.com/api/etfs/IE0002XZSHO1/performance-chart?locale=fr&currency=EUR&valuesType=RELATIVE_CHANGE&reduceData=false&includeDividends=true&features=DIVIDENDS&dateFrom=2025-04-23&dateTo=2025-05-23"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)
data = response.json()

In [2]:
data

{'latestQuote': {'raw': 5.38, 'localized': '5,38'},
 'latestQuoteDate': '2025-05-23',
 'price': {'raw': 5.38, 'localized': '5,38'},
 'performance': {'raw': 7.82, 'localized': '7,82'},
 'prevDaySeries': [],
 'series': [{'date': '2025-04-23', 'value': {'raw': 0.0, 'localized': '0,00'}},
  {'date': '2025-04-24', 'value': {'raw': 1.4, 'localized': '1,40'}},
  {'date': '2025-04-25', 'value': {'raw': 2.2, 'localized': '2,20'}},
  {'date': '2025-04-26', 'value': {'raw': 2.2, 'localized': '2,20'}},
  {'date': '2025-04-27', 'value': {'raw': 2.2, 'localized': '2,20'}},
  {'date': '2025-04-28', 'value': {'raw': 2.4, 'localized': '2,40'}},
  {'date': '2025-04-29', 'value': {'raw': 2.81, 'localized': '2,81'}},
  {'date': '2025-04-30', 'value': {'raw': 3.21, 'localized': '3,21'}},
  {'date': '2025-05-01', 'value': {'raw': 3.21, 'localized': '3,21'}},
  {'date': '2025-05-02', 'value': {'raw': 5.21, 'localized': '5,21'}},
  {'date': '2025-05-03', 'value': {'raw': 5.21, 'localized': '5,21'}},
  {'date': '2025-05-04', 'value': {'raw': 5.21, 'localized': '5,21'}},
  {'date': '2025-05-05', 'value': {'raw': 5.21, 'localized': '5,21'}},
  {'date': '2025-05-06', 'value': {'raw': 4.41, 'localized': '4,41'}},
  {'date': '2025-05-07', 'value': {'raw': 4.41, 'localized': '4,41'}},
  {'date': '2025-05-08', 'value': {'raw': 5.61, 'localized': '5,61'}},
  {'date': '2025-05-09', 'value': {'raw': 5.81, 'localized': '5,81'}},
  {'date': '2025-05-10', 'value': {'raw': 5.81, 'localized': '5,81'}},
  {'date': '2025-05-11', 'value': {'raw': 5.81, 'localized': '5,81'}},
  {'date': '2025-05-12', 'value': {'raw': 9.62, 'localized': '9,62'}},
  {'date': '2025-05-13', 'value': {'raw': 10.02, 'localized': '10,02'}},
  {'date': '2025-05-14', 'value': {'raw': 9.82, 'localized': '9,82'}},
  {'date': '2025-05-15', 'value': {'raw': 10.42, 'localized': '10,42'}},
  {'date': '2025-05-16', 'value': {'raw': 11.42, 'localized': '11,42'}},
  {'date': '2025-05-17', 'value': {'raw': 11.42, 'localized': '11,42'}},
  {'date': '2025-05-18', 'value': {'raw': 11.42, 'localized': '11,42'}},
  {'date': '2025-05-19', 'value': {'raw': 10.62, 'localized': '10,62'}},
  {'date': '2025-05-20', 'value': {'raw': 10.42, 'localized': '10,42'}},
  {'date': '2025-05-21', 'value': {'raw': 8.62, 'localized': '8,62'}},
  {'date': '2025-05-22', 'value': {'raw': 8.82, 'localized': '8,82'}},
  {'date': '2025-05-23', 'value': {'raw': 7.82, 'localized': '7,82'}}],
 'latestDate': '2025-05-23',
 'endOfDay': '2025-05-23T21:00:00Z',
 'features': {'DIVIDENDS': []}}

In [3]:
series = data['series']

In [4]:
df = pd.DataFrame([
    {
        "date": pd.to_datetime(item['date']),
        "value": item['value']['raw']
    }
    for item in series
])
df.set_index("date", inplace=True)
df["daily_return"] = df["value"].pct_change()

In [5]:
df

            value  daily_return
date
2025-04-23   0.00           NaN
2025-04-24   1.40           inf
2025-04-25   2.20      0.571429
2025-04-26   2.20      0.000000
2025-04-27   2.20      0.000000
2025-04-28   2.40      0.090909
2025-04-29   2.81      0.170833
2025-04-30   3.21      0.142349
2025-05-01   3.21      0.000000
2025-05-02   5.21      0.623053
2025-05-03   5.21      0.000000
2025-05-04   5.21      0.000000
2025-05-05   5.21      0.000000
2025-05-06   4.41     -0.153551
2025-05-07   4.41      0.000000
2025-05-08   5.61      0.272109
2025-05-09   5.81      0.035651
2025-05-10   5.81      0.000000
2025-05-11   5.81      0.000000
2025-05-12   9.62      0.655766
2025-05-13  10.02      0.041580
2025-05-14   9.82     -0.019960
2025-05-15  10.42      0.061100
2025-05-16  11.42      0.095969
2025-05-17  11.42      0.000000
2025-05-18  11.42      0.000000
2025-05-19  10.62     -0.070053
2025-05-20  10.42     -0.018832
2025-05-21   8.62     -0.172745
2025-05-22   8.82      0.023202
2025-05-23   7.82     -0.113379